body  {
    background-image: url('../temaBlogHTML/IMG_0850-1.JPEG');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: cover;
}
.social ul {
    position: absolute;
    float: left;
    display: flex;
    justify-content: space-between;
}
.social ul li {
list-style: none;
margin: 0 15px;
}
.social ul li .fa {
    transition: 6s;
    color: black;
}
.social ul li a {
    position: relative;
    display: block;
    border-radius: 10%;
}
.Menu a {
    color:black;
    font-family: cursive;
    float: right;
    display: inline;
    margin: 0 10px;
}
.circle1 {
  width: 200px;
  height: 200px;
  line-height: 100px;
  border-radius: 50%;
  font-family: cursive;
  font-size: 50px;
  color: white;
  text-align: center;
  background: black;
}
.circle2 {
    margin-left: 85%;
    width: 200px;
    height: 200px;
    line-height: 100px;
    border-radius: 50%;
    font-family: cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    background: black;
  }
.p1 {
    font-family: cursive;
    color: black;
    text-align: center;
    font-size: 20px;
    background-color:white;
}
.home {
    image-rendering: auto;
    width: 200px;
    height: 200px;
}









